.logo{
    text-align: center;
}

.menu{
    text-align: center;
    margin-top: 50px;
}

.menu a{
    text-decoration: none;
    color: blueviolet;
    padding: 0px 20px 0px 20px;
}

.menu a:hover{
    color: pink;
}

.menu .sub-menu:hover .sub-menu-2{
    display: inline;
}

.menu .link-active{
    color: plum;
}

.sub-menu{
    position: relative;
}

.sub-menu .sub-menu-2{
    position: absolute;
    display: none;
    top: 30px;
    left: 0px;
    text-align: left;
    font-size: 13px;
    padding-bottom: 30px;
   
}

.sub-menu-2 div{
    margin-bottom: 10px;
}

.sub-menu-3{
    
    margin-left: 20px;
    text-align: left;
}

.sub-menu-3 div{
    padding-left: 7px;
    padding-top: 6px;
}


    
